body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#ui{
  position: absolute;
  top: 20px;
}

canvas{
  background-color: black;
  border: 4px solid  #211FE2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

img{
  display: none;
}